:root {
  --azul-marino: #0a1628;
  --dorado: #c9a84c;
  --blanco-hueso: #f0ead6;
}

body {
  background-color: var(--azul-marino);
  color: var(--blanco-hueso);
}

/* --- NAVBAR --- */
.navbar {
  background-color: var(--azul-marino);
  border-bottom: 2px solid var(--dorado);
  padding: 0.75rem 1.5rem;
  overflow: visible;
}

.navbar-logo {
  width: 250px;
  height: 250px;
  object-fit: contain;
  position: relative;
  top: -50px;
  margin-bottom:-150px;
/*top y margin bottom para que el logo quede sobresaliendo, da aspecto profesional (?)*/

  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.6)); /* sombra para destacar el logo */
}

.navbar-title {
  display: flex;

  flex-direction: column;
  line-height: 1;
}

.title-marine {
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 4px;
  color: var(--dorado);
}

.title-intelligence {
  font-size: 0.75rem;
  letter-spacing: 6px;
  color: var(--blanco-hueso);
}

.navbar-nav .nav-item {
  position: relative;
  padding: 0 1.5rem; /* aumenta la separacion */
}

/* Línea entre items del navbarvale */
.navbar-nav .nav-item + .nav-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15%;
  height: 70%;
  width: 1px;
  background-color: var(--dorado);
  display: none;
}

/*Ponerle el separador para el formato superior a movil*/
@media (min-width: 992px) {
  .navbar-nav .nav-item + .nav-item::before {
    display: block; /* solo visible en desktop */
  }

  .navbar-nav .nav-item {
    padding: 0 1.5rem;
  }
}
.nav-link {
  color: var(--blanco-hueso) !important;
  letter-spacing: 2px;
  font-size: 0.85rem;
  text-transform: uppercase;
  transition: color 0.2s;
}

.nav-link:hover {
  color: var(--dorado) !important;
}

.navbar-toggler {
  border-color: var(--dorado);
}

.navbar-toggler-icon {
  filter: invert(1);
}





/* en formato movil el logo es muy grande y todo se colapsa, solucion:*/

/*Queremos el logo mas pequenio*/
/*arriba hemos puesto que el separador vertical sea solo para formato no movil, aqui queremos uno horizontal*/
/*Queremos el titulo mas centrado*/
/*Elementos del menu en vertical*/
@media (max-width:991px){
  
  .navbar-nav{
    text-align: center;
    padding: 3rem ;
    gap: 0 !important;
  }

  .navbar-nav .nav-item {
    background-color: #112244;
    border-left: 3px solid var(--dorado);
    border-radius: 4px;
    margin: 4px;
    width: 70%;
    margin-left: -40px;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--dorado); /* separador horizontal en móvil */
  }

  .navbar-logo{
    width: 150px;
    height: 150px;
  }

  .navbar-title{
    margin-top: 25px;
  }

  .title-intelligence{
    top: 100px;
    font-size:0.6rem ;
    margin-left: 0.9rem;
  }

  .title-marine{
    font-size: 2rem;
  }
}